<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SicalC</title>
    <link rel="icon" type="image/png" href="/img/logo_trial.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="background-color: rgb(139, 139, 139);">
<header>
  <nav class="navbar navbar-expand-lg " style="background-color: rgb(66, 66, 66);">
    <div class="container-fluid">
      <a class="navbar-brand" class="font-weight-bold" href="#"  style="color: azure;" >
        <img src="/img/logo_trial.png" alt="Logo" width="100" height="60" class="font-italic">
        SiCalC
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link active" style="color: azure;" href aria-current="page" href="Operadores.html">Inicio</a>

          </li>

          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: azure;" href href="#">Operadores</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-bs-slide="ARETR">área de un triángulo</a></li>
              <li><a class="dropdown-item" data-bs-slide="SUm2v" >Suma</a></li>
              <li><a class="dropdown-item" href="">elevar numero al cuadrado</a></li>
              <li><a class="dropdown-item" href="">euros a dolares</a></li>
              <li><a class="dropdown-item" href="#">Area y Perimetro de un Cuadrado</a></li>
              <li><a class="dropdown-item" href="#">Area y Volumen de un Cilindro</a></li>
              <li><a class="dropdown-item" href="#">radio, Area y longitud de una circunferencia</a></li>
              <li><a class="dropdown-item" href="#">Promedio de 3 Datos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: azure;"  href="Condicionales.html">Condicionales</a>

          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: azure;"  href="Ciclos.html">Ciclos</a>

          </li>
      </div>
    </div>
  </nav>

</header>
 

<style>
  .contenedor {
      display: grid;
      place-items: center;
      height: 100vh; /* Esto centra verticalmente también */
  }
  .calculo{
    position: absolute; /* Establece la posición absoluta */
            top: 50%; /* Mueve el botón al 50% de la parte superior del contenedor */
            left: 50%; /* Mueve el botón al 50% del lado izquierdo del contenedor */
            transform: translate(-50%, -50%); /* Centra el botón correctamente */
        
  }
  footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
</style>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active" id="ARETR">
      <div class="contenedor" style="background-color: rgb(153, 10, 0); ">

          <h1 id="areatriangulo"><span class="badge text-bg-warning" style="position: absolute; top: 5%; left: 30%; background-color: rgb(255, 171, 60);" class="badge text-bg-secondary">Calcular Area de un Triangulo</span></h1>
  
          <div  class="contenedor" style= "position: absolute; background-color: rgb(58, 58, 58); width: 34%; height: 40%; top: 15%; left: 30%; ">
          <label  style="color: antiquewhite; position: absolute; 
          top: 30%;left: 30%; transform: translate(-50%, -50%);" for="base">Base:</label>
          <input  style=" position: absolute; 
          top: 30%;left: 60%; transform: translate(-50%, -50%);"class="form-label" type="number" id="base">
          <label style="color: antiquewhite; position: absolute; 
          top: 43%;left: 30%; transform: translate(-50%, -50%);" for="altura">Altura:</label>  
          <input style=" position: absolute; 
          top: 43%;left: 60%; transform: translate(-50%, -50%);" type="number" id="altura">
          
          <!-- Boton Calcular -->
          <button onclick="calcularArea()" type="button" class="btn btn-danger" class="calculo" style=" position: absolute; 
  top: 77%;left: 70%; transform: translate(-50%, -50%); " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Calcular
          </button>
  </div>
          <!-- Aviso -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Area Triangulo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="resultado"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
          </div>
          
   
          <script>
              function calcularArea() {
                  var base = parseFloat(document.getElementById("base").value);
                  var altura = parseFloat(document.getElementById("altura").value);
                  var resultado = (base * altura) / 2;
                  document.getElementById("resultado").innerText = "El área del triángulo es: " + resultado;
              }
          </script>
        
        </div>
    </div>
    <div class="carousel-item" id="SUm2v">
      <div class="contenedor" style="background-color: rgb(8, 182, 34); ">

          <h1 id="areatriangulo"><span class="badge text-bg-warning" style="position: absolute; top: 5%; left: 30%; background-color: rgb(255, 171, 60);" class="badge text-bg-secondary">Calcular Suma</span></h1>
  
          <div  class="contenedor" style= "position: absolute; background-color: rgb(58, 58, 58); width: 34%; height: 40%; top: 15%; left: 30%; ">
          <label  style="color: antiquewhite; position: absolute; 
          top: 30%;left: 30%; transform: translate(-50%, -50%);" for="valor1">Valor 1:</label>
          <input  style=" position: absolute; 
          top: 30%;left: 60%; transform: translate(-50%, -50%);"class="form-label" type="number" id="valor1">
          <label style="color: antiquewhite; position: absolute; 
          top: 43%;left: 30%; transform: translate(-50%, -50%);" for="valor2">Valor 2:</label>  
          <input style=" position: absolute; 
          top: 43%;left: 60%; transform: translate(-50%, -50%);" type="number" id="valor2">
          
          <!-- Boton Calcular -->
          <button onclick="calcularSuma()" type="button" class="btn btn-danger" class="calculo" style=" position: absolute; 
  top: 77%;left: 70%; transform: translate(-50%, -50%); " data-bs-toggle="modal" data-bs-target="#exampleModal2">
    Calcular
          </button>
          
  </div>
          <!-- Aviso -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Resultado Suma</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="resultado2"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
          </div>
         
   
          <script>
              function calcularSuma() {
                  var valor1 = parseFloat(document.getElementById("valor1").value);
                  var valor2 = parseFloat(document.getElementById("valor2").value);
                  var resultado2 = (valor1 + valor2);
                  document.getElementById("resultado2").innerText = "La Suma de los Valores es: " + resultado2;
              }
          </script>
        
        </div>
    </div>
    <div class="carousel-item">
      <div class="contenedor" style="background-color: rgb(215, 236, 24); ">

          <h1 id="areatriangulo"><span class="badge text-bg-warning" style="position: absolute; top: 5%; left: 30%; background-color: rgb(255, 171, 60);" class="badge text-bg-secondary">Numero al cuadrado</span></h1>
  
          <div  class="contenedor" style= "position: absolute; background-color: rgb(58, 58, 58); width: 34%; height: 40%; top: 15%; left: 30%; ">
          <label  style="color: antiquewhite; position: absolute; 
          top: 30%;left: 30%; transform: translate(-50%, -50%);" for="c">Numero:</label>
          <input  style=" position: absolute; 
          top: 30%;left: 60%; transform: translate(-50%, -50%);"class="form-label" type="number" id="c">
          
          
          <!-- Boton Calcular -->
          <button onclick="calcularCuadrado()" type="button" class="btn btn-danger" class="calculo" style=" position: absolute; 
  top: 77%;left: 70%; transform: translate(-50%, -50%); " data-bs-toggle="modal" data-bs-target="#exampleModal3">
    Calcular
          </button>
  </div>
          <!-- Aviso -->
          <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Numero al cuadrado</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="resultado3"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
          </div>
          
   
          <script>
              function calcularCuadrado() {
                  var vfc = parseFloat(document.getElementById("c").value);
                  var cf = vfc + vfc;
                  document.getElementById("resultado3").innerText = "El Numero al Cuadrado es: " + cf;
              }
          </script>
        
        </div>
    </div>
    <div class="carousel-item">
      <div class="contenedor" style="background-color: rgb(12, 194, 27); ">

          <h1 id="areatriangulo"><span class="badge text-bg-warning" style="position: absolute; top: 5%; left: 30%; background-color: rgb(255, 171, 60);" class="badge text-bg-secondary">Conversion de Euros a Dolares</span></h1>
  
          <div  class="contenedor" style= "position: absolute; background-color: rgb(58, 58, 58); width: 34%; height: 40%; top: 15%; left: 30%; ">
          <label  style="color: antiquewhite; position: absolute; 
          top: 30%;left: 30%; transform: translate(-50%, -50%);" for="e">Euros:</label>
          <input  style=" position: absolute; 
          top: 30%;left: 60%; transform: translate(-50%, -50%);"class="form-label" type="number" id="e">
          
          
          <!-- Boton Calcular -->
          <button onclick="calcularConversion()" type="button" class="btn btn-danger" class="calculo" style=" position: absolute; 
  top: 77%;left: 70%; transform: translate(-50%, -50%); " data-bs-toggle="modal" data-bs-target="#exampleModal4">
    Calcular
          </button>
  </div>
          <!-- Aviso -->
          <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Conversion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="eurosr"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
          </div>
          
   
          <script>
              function calcularConversion() {
                  var euross = parseFloat(document.getElementById("e").value);
                  var usaeu= (euross * 1.08);
                  document.getElementById("eurosr").innerText ="el valor de:" + euross + "E Son: " + usaeu + "Dolares";
              }
          </script>
        
        </div>
    </div>
    <div class="carousel-item">
      <div class="contenedor" style="background-color: rgb(215, 236, 24); ">

          <h1 id="areatriangulo"><span class="badge text-bg-warning" style="position: absolute; top: 5%; left: 30%; background-color: rgb(255, 171, 60);" class="badge text-bg-secondary">Area y Perimetro en un Cuadrado</span></h1>
  
          <div  class="contenedor" style= "position: absolute; background-color: rgb(58, 58, 58); width: 34%; height: 40%; top: 15%; left: 30%; ">
          <label  style="color: antiquewhite; position: absolute; 
          top: 30%;left: 30%; transform: translate(-50%, -50%);" for="l1">Longitud:</label>         
          <input  style=" position: absolute; 
          top: 30%;left: 60%; transform: translate(-50%, -50%);"class="form-label" type="number" id="l1">
          
          
          <!-- Boton Calcular -->
          <button onclick="calcularPAcua()" type="button" class="btn btn-danger" class="calculo" style=" position: absolute; 
  top: 77%;left: 70%; transform: translate(-50%, -50%); " data-bs-toggle="modal" data-bs-target="#exampleModal5">
    Calcular
          </button>
  </div>
          <!-- Aviso -->
          <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Area y Perimetro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="rta1pc"></p>
          <p id="rta1ac"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
          </div>
          
   
          <script>
              function calcularPAcua() {
                  var lado1 = parseFloat(document.getElementById("l1").value);
                  var arec = (lado1 * lado1);
                  var Perimetroc= (lado1 + lado1 + lado1 + lado1);
                  document.getElementById("rta1pc").innerText = "El Perimetro del Cuadrado es: " + Perimetroc;
                  document.getElementById("rta1ac").innerText = "El Area del Cuadrado es: " + arec;
              }
          </script>
        
        </div>
    </div>
    <div class="carousel-item">
      <div class="contenedor" style="background-color: rgb(100, 9, 143); ">

          <h1 id="areatriangulo"><span class="badge text-bg-warning" style="position: absolute; top: 5%; left: 30%; background-color: rgb(255, 171, 60);" class="badge text-bg-secondary">Volumen y Area de un Cilindro</span></h1>
  
          <div  class="contenedor" style= "position: absolute; background-color: rgb(58, 58, 58); width: 34%; height: 40%; top: 15%; left: 30%; ">
            <label  style="color: antiquewhite; position: absolute; 
            top: 30%;left: 30%; transform: translate(-50%, -50%);" for="radiocil">Radio:</label>
            <input  style=" position: absolute; 
            top: 30%;left: 60%; transform: translate(-50%, -50%);"class="form-label" type="number" id="radiocil">
            <label style="color: antiquewhite; position: absolute; 
            top: 43%;left: 30%; transform: translate(-50%, -50%);" for="alturacil">Altura:</label>  
            <input style=" position: absolute; 
            top: 43%;left: 60%; transform: translate(-50%, -50%);" type="number" id="alturacil">
          
          
          <!-- Boton Calcular -->
          <button onclick="calculaVAcilin()" type="button" class="btn btn-danger" class="calculo" style=" position: absolute; 
  top: 77%;left: 70%; transform: translate(-50%, -50%); " data-bs-toggle="modal" data-bs-target="#exampleModal6">
    Calcular
          </button>
  </div>
          <!-- Aviso -->
          <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Volumen y Area</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="resultACilin"></p>
          <p id="Volumresult"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
          </div>
          
   
          <script>
              function calculaVAcilin() {
                  var radiocil = parseFloat(document.getElementById("radiocil").value);
                  var alturacil = parseFloat(document.getElementById("alturacil").value);
                  var numpi = (3.1416);
                  var r2 = (radiocil * radiocil);
                  var pi2 = (numpi * 2);
                  var sec1 =(r2 * pi2);
                  var sec2= (pi2 * radiocil * alturacil)
                  var resulAcilin = (sec1 + sec2);
                  var VolumenCili = (numpi*r2*alturacil);
                  document.getElementById("resultACilin").innerText = "El Area del Cilindro es: " + resulAcilin;
                  document.getElementById("Volumresult").innerText = "El Volumen del Cilindro es: " + VolumenCili;
              }
          </script>
        
        </div>
    </div>
    <div class="carousel-item">
      <div class="contenedor" style="background-color: rgb(154, 204, 113); ">

          <h1 id="areatriangulo"><span class="badge text-bg-warning" style="position: absolute; top: 5%; left: 30%; background-color: rgb(255, 171, 60);" class="badge text-bg-secondary">7</span></h1>
  
          <div  class="contenedor" style= "position: absolute; background-color: rgb(58, 58, 58); width: 34%; height: 40%; top: 15%; left: 30%; ">
            <label  style="color: antiquewhite; position: absolute; 
            top: 30%;left: 30%; transform: translate(-50%, -50%);" for="radiocil">Radio:</label>
            <input  style=" position: absolute; 
            top: 30%;left: 60%; transform: translate(-50%, -50%);"class="form-label" type="number" id="radioscil">
            <label style="color: antiquewhite; position: absolute; 
            top: 43%;left: 30%; transform: translate(-50%, -50%);" for="alturacil">Altura:</label>  
            <input style=" position: absolute; 
            top: 43%;left: 60%; transform: translate(-50%, -50%);" type="number" id="alturacil">
          
          
          <!-- Boton Calcular -->
          <button onclick="calcular__()" type="button" class="btn btn-danger" class="calculo" style=" position: absolute; 
  top: 77%;left: 70%; transform: translate(-50%, -50%); " data-bs-toggle="modal" data-bs-target="#exampleModal6">
    Calcular
          </button>
  </div>
          <!-- Aviso -->
          <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Numero al cuadrado</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="resultado3"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
          </div>
          
   
          <script>
              function calcular__() {
                  var radiocil = parseFloat(document.getElementById("radiocil").value);
                  var alturacil = parseFloat(document.getElementById("alturacil").value);
                  var numpi = 3.1416;
                  var r2 = (radiocil*radiocil);
                  var resulcilin = ncuadrado * ncuadrado;
                  document.getElementById("resultado3").innerText = "El Numero al Cuadrado es: " + cuadrado;
              }
          </script>
        
        </div>
    </div>
    <div class="carousel-item">
      <div class="contenedor" style="background-color: rgb(153, 0, 33); ">

          <h1 id="areatriangulo"><span class="badge text-bg-warning" style="position: absolute; top: 5%; left: 30%; background-color: rgb(255, 171, 60);" class="badge text-bg-secondary">Promedio 3 numeros</span></h1>
  
          <div  class="contenedor" style= "position: absolute; background-color: rgb(58, 58, 58); width: 34%; height: 40%; top: 15%; left: 30%; ">
            <label  style="color: antiquewhite; position: absolute; 
            top: 30%;left: 30%; transform: translate(-50%, -50%);" for="vnum1">numero 1:</label>
            <input  style=" position: absolute; 
            top: 30%;left: 60%; transform: translate(-50%, -50%);"class="form-label" type="number" id="vnum1">
            <label style="color: antiquewhite; position: absolute; 
            top: 43%;left: 30%; transform: translate(-50%, -50%);" for="vnum2">numero 2:</label>  
            <input style=" position: absolute; 
            top: 43%;left: 60%; transform: translate(-50%, -50%);" type="number" id="vnum2">
            <label style="color: antiquewhite; position: absolute; 
            top: 56%;left: 30%; transform: translate(-50%, -50%);" for="vnum3">numero 3:</label>  
            <input style=" position: absolute; 
            top: 56%;left: 60%; transform: translate(-50%, -50%);" type="number" id="vnum3">

            
          
          
          <!-- Boton Calcular -->
          <button onclick="calculaPromedio3()" type="button" class="btn btn-danger" class="calculo" style=" position: absolute; 
  top: 77%;left: 70%; transform: translate(-50%, -50%); " data-bs-toggle="modal" data-bs-target="#exampleModal8">
    Calcular
          </button>
  </div>
          <!-- Aviso -->
          <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Promedio</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="resultadoPromf"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
          </div>
          
   
          <script>
              function calculaPromedio3() {
                  var valor1 = parseFloat(document.getElementById("vnum1").value);
                  var valor2 = parseFloat(document.getElementById("vnum2").value);
                  var valor3 = parseFloat(document.getElementById("vnum3").value);

                  var Promedioff=  (valor1 + valor2 + valor3) / 3;
                  document.getElementById("resultadoPromf").innerText = "El Promedio Final es: " + Promedioff;
              }
          </script>
        
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<footer>
    <p>&copy; 2024 SicalC. Todos los derechos reservados.</p>
</footer>

</html>